<% @events.each do |event| %>
  <div><%= link_to event.title, event_path(event) %></div>
<% end %>


<%= form_tag(events_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
