<h1>EVENTS</h1>
<div class="col">


<img src= https://bizbash-production.imgix.net/content/editorial/storyimg/big/_dsc0424-copy-copie.jpg?auto=format class="rounded mx-auto d-block">
<img src=http://www.pacificterrace.com/resourcefiles/blogsmallimages/kris-atomic-73935_1-337614.jpg>
</div>

<% @events.each do |event| %>
  <div><li> <%= link_to event.title, event_path(event) %> </li></div>
<% end %>


<%= form_tag(events_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil, :class =>'btn btn-primary' %>
<% end %>
