<% @designers.each do |designer| %>
  <div><%= link_to designer.name, designer_path(designer) %></div>
<% end %>

<%= form_tag(designers_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
