/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
body {
background-image: url("https://media.architecturaldigest.com/photos/55fb0c9b9bff6eeb3a2445f9/master/w_806/dam-images-set-design-marc-jacobs-marc-jacobs-cloud-sets-02.jpg")
}
.color-h1 {
  color:yellow;
}

.color-d1 {
  background-color:yellow;
  width: 25%;
}

.color-designer-name {
  color:yellow;
}

.color-d2 {
  background-color:red;
  width: 35%;
}

.container2 {
  background-color:gray;

}

.welcome {
  background-color:red;
}

.Ralph {
  background-color:red;
}

.lauren {
    color:yellow;
}

.description {
  background-color:white;
}

.even1 {
  background-color:red;
}

.event2 {
  color:yellow;
}

.des2 {
  background-color:white;
}

.arturo {
  background-color:white;
}
